body{
    font-family: 'Montserrat'
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 3% 15%;

}

h1{
    font-family: 'Montserrat-Black';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bolder;
}

h2{
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;

}

/* Navigation Bar  */


.navbar{
    padding-bottom: 0 0 4.5rem;
}


.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
}

.nav-link{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
}

.nav-item{
    padding: 0 18px;
}


.download-button{
    margin: 5% 3% 5% 0;
}


/* Title Image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
}



/* Features Section  */

#features{
    margin: 25% 20% 25% 18%;
    text-align: center;
}

.chkicn{
    font-size: 4rem;
    color: #ef8172;
    margin-bottom: 1.5rem;
}

.bullicn{
    font-size: 4rem;
    color: #ef8172;
    margin-bottom: 1.5rem;
}

.hrticn{
    font-size: 4rem;
    color: #ef8172;
    margin-bottom: 1.5rem;
}
.hrticn:hover{
    color: #ff4c68;
}

.featuresh3{
    font-family:"Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
}


/* Testimonial */


#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
    margin: 20px;
    border-radius: 100%;
    width: 10%;
}

#press{
    background-color: #ef8172;
    text-align: center;
}

.carousel-item{
    padding: 7% 15%;

}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}


/* CAll to action */

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 30%;
}

#findlove{
    margin-bottom: 50px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 3rem;
}

/* Copyright */

#footer{
    background-color: gray;
    margin: 0%;
    padding: 2% ;
    text-align: center;
    font-weight: bold;
}